<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<body style="margin:0; padding:0; background:#f4f6fb; font-family: Arial, Helvetica, sans-serif;">

<div style="max-width:600px; margin:40px auto; background:white; padding:30px; border-radius:12px; box-shadow:0 0 15px rgba(0,0,0,0.08);">

    <div style="text-align:center; border-bottom:1px solid #eee; padding-bottom:20px;">
        <h2 style="color:#333;">OTP CODE</h2>
    </div>

    <div style="margin-top:25px; color:#555; line-height:1.6; font-size:16px;">

        <p>Hello <strong>${name}</strong>,</p>

        <h2>
            OTP IS ${otp}
        </h2>
        <h3>
          Code will Expire in 15 minutes.
        </h3>

        <div style="text-align:center; margin-top:30px;">
            <a href="#"
               style="display:inline-block; padding:12px 25px; background:#2563eb;
               color:white; text-decoration:none; border-radius:8px; font-weight:bold;">
               Do not share with Anyone!
            </a>
        </div>

    </div>

    <div style="margin-top:40px; text-align:center; font-size:13px; color:#999;">
        ©  DevInsightAI Company. All rights reserved.
    </div>

</div>

</body>
</html>